#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

#sessao-titulo-principal {
    grid-column: 2;
}

#sessao-proposito {
    grid-column: 2;
} 