#side-nav {
    background-color: rgba(220, 20, 60, 0.863);
    height: 100%;
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 245px;
}

#side-nav a, #side-nav NavLink {
    width: 100%;
    display: flex;
    border-bottom: white;
    border-bottom-style:groove;
    padding: 0;
    color: white;
    padding-top: 10px;
}

#side-nav a p, #side-nav NavLink p {
    margin: 0;
    margin-left: 5px;
}

#side-nav a:hover, #side-nav NavLink:hover {
    background-color: rgba(209, 84, 109, 0.863);
}

#nav-body {
    display: flex;
    width: 100%;
    height: 83%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    
}