#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #2f4373;
  font-family: 'Poppins';
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}





